<div class="container mt-4">
  <div class="row">
    <div class="col">
      <%= link_to 'Volver', questions_path %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <p class="card-text text-muted">Publicado por <%= @question.user.email%></p>
        <h1 class="display-4"><%= @question.title.capitalize %></h1>
        <div class="row align-items-center">
          <div class="col-2">

            <% if @question.voted_by? current_user%>
              <%= link_to question_vote_question_path(@question), method: :delete, class: "question-upvote upvote-active" do %>
                <span class="upvote-arrow"></span>
                <span class="upvote-count"><%= @question.vote_questions.count %></span>
              <% end %>
            <% else %>
              <%= link_to question_vote_question_path(@question), method: :post, class: "question-upvote" do %>
                <span class="upvote-arrow"></span>
                <span class="upvote-count"><%= @question.vote_questions.count %></span>
              <% end %>
            <% end %>

          </div>
          <div class="col-10">
            <p class="lead"><%= @question.body.capitalize %></p>
          </div>
        </div>
        <hr class="my-4">
        <div class="row">
          <div class="col-2 text-center align-self-center">
            <h4 class="text-muted"></h4>
          </div>
          <div class="col">
            <h4>Comentarios:</h4>

            <div class="row">
              <div class="col">

                <% @question.comments.each do |comment| %>
                  <div class="row mt-4">
                    <div class="col">
                      <div class="card mb-3">
                        <div class="card-body"><%= comment.body %></div>
                      </div>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
            <div class="row">
              <div class="col">

                <% if signed_in? %>
                  <%= form_for [@question, @question.comments.build] do |f| %>
                    <div class="form-group">
                      <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
                    </div>
                    <div class="actions text-right">
                      <%= f.submit "Enviar Respuesta", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                <% end %>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col">
      <h4><%= @question.answers.length %> Respuesta(s)</h4>

      <% @question.answers.each do |question| %>
        <div class="row mt-4">
          <div class="col-2 text-center align-self-center">
            <h4 class="text-muted">Votos</h4>
          </div>
          <div class="col-10">
            <div class="card mb-3">
              <header class="card-header bg-dark text-white">Respuesta por <%= question.user.email %></header>
              <div class="card-body"><%= question.body %></div>
            </div>
          </div>
        </div>

         <div class="row justify-content-end">
          <div class="col-10">
            <% question.comments.each do |comment| %>
              <div class="row mt-4">
                <div class="col">
                  <h4>Comentarios</h4>
                  <div class="card mb-3">
                    <div class="card-body"><%= comment.body %></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
         <div class="row justify-content-end">
          <div class="col-10">
      
            <% if signed_in? %>
              <%= form_for Comment.new, url: "/answers/#{question.id}/commentanswer" do |f| %>
                <div class="form-group">
                  <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario"%>
                </div>
                <div class="actions text-right">
                  <%= f.submit "Enviar Respuesta", class: "btn btn-primary" %>
                </div>
              <% end %>
            <% end %>
      
          </div>
        </div>

      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="col">

      <% if signed_in? %>
        <%= form_for [@question, @question.answers.build] do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", placeholder: "Agregar respuesta" %>
          </div>
          <div class="actions text-right">
            <%= f.submit "Enviar Respuesta", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>